html
  head
    link(rel='stylesheet' type='text/css' href='css/app.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    title=title
  body
    section#header-container
    section#main-container
    script(src='js/jquery-3.2.1.js')
    script(src='js/materialize.js')
    script(type='application/javascript' src='js/app.js')
